h1{
	font-weight: 300;
	font-family: fantasy;
	letter-spacing: 5px;
}
p{
	word-spacing: 5px;
	text-align: justify;
	line-height: 24px;
	font-family: sans-serif;
	text-indent: 24px;
}
ul li{
	list-style-type: none;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: lightskyblue;
}
a:active{
	color: lightpink;
}
figure{
	border: solid 1px lightskyblue ;
}
figcaption{
	padding: 5px;
	padding-left: 10px;
	font-family: sans-serif;
}
.fr{
	float: right;
}